:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-title-color: #ffffff;
  --primary-bg-color: #ffffff;
  --button-color: #f5f4fa;
  --primary-button-color: #ffffff;
  --logo-color: #000000;
  --bg-hero-color: #2f303a;
  --bg-futer-color: #2f303a;
  --bg-team-color: #f5f4fa;
  --button-hero: #188ce8;
  --logo-footer-color: #ffffff;
  --link-footer-color: #ffffff99;
  --map-footer-color: #ffffff;
  --bg--button-primary-color: #ffffff;
  --button-hover-focus-color: #ffffff;
  --icons-color: #afb1b8;
  --primary-white-color: #ffffff;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* logo */

.logo {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  /* margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px; */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__text--accent {
  color: var(--accent-color);
}

/* .logo .accent {
  color: var(--accent-color);
} */
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
/* .logo-footer {
  color: var(--logo-footer-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.logo--inverse {
  color: var(--logo-footer-color);
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

/* .logo-footer .accent {
  color: var(--accent-color);
} */

/* .logo-footer:hover,
.logo-footer:focus {
  color: var(--accent-color);
} */

/* page-header */

/* .main-heder {
  border-bottom: 1px solid #ececec;
} */

/* .main-heder .container {
  display: flex;
  align-items: center;
} */

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;
}

.page-header__nav {
  display: flex;
  align-items: center;
}

/* .main-nav {
  display: flex;
  align-items: center;
} */

/* site-nav */

/* .site-nav .item:not(:last-child) {
  margin-right: 50px;
} */

.site-nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

/* .site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.site-nav__link {
  color: var(--title-text-color);
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .site-nav .link.current {
  color: var(--accent-color);
} */

.site-nav__link--current {
  color: var(--accent-color);
}

/* .link-studio::after {
  display: flex;
  content: "";
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
} */

.site-nav__link--underline::after {
  display: flex;
  content: "";
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
}

.link-portfolio::after {
  display: flex;
  content: "";
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
}

/* .site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

/* addres-header */

.addres-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  margin-left: auto;
}

/* .addres-header .item:not(:last-child) {
  margin-right: 50px;
} */

.addres-header__item:not(:last-child) {
  margin-right: 50px;
}

/* .addres-header .link {
  color: var(--primary-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.addres-header__link {
  color: var(--primary-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .addres-header .link:hover,
.addres-header .link:focus {
  color: var(--accent-color);
} */

.addres-header__link:hover,
.addres-header__link:focus {
  color: var(--accent-color);
}

/* .icon-heder {
  fill: #757575;
}
.icon-map {
  margin-right: 10px;
}

.icon-phone {
  margin-right: 10px;
} */

.addres-header__icon {
  fill: #757575;
  margin-right: 10px;
}

/* .addres-header .link:hover .icon-heder,
.addres-header .link:focus .icon-heder {
  fill: var(--accent-color);
} */

.addres-header__link:hover .addres-header__icon,
.addres-header__link:focus .addres-header__icon {
  fill: var(--accent-color);
}

/* section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 50px;
}

/* hero */

.hero {
  padding: 200px 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-hero-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.hero-title {
  color: var(--hero-title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* feature-list */

.feature-list {
  display: flex;
  margin-right: -30px;
  /* justify-content: center;
  align-content: center; */
}

.feature-icons {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  /* padding-top: 25px;
  padding-bottom: 25px; */
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.feature-list .item {
  display: inline-block;
  flex-basis: calc((100% - 90px) / 4);
  margin-right: 30px;
  align-items: center;
  justify-content: center;
}

.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-list .text {
  line-height: 1.71;
}

/* section-work */

.section-work {
  padding-top: 0;
}

.work-list {
  display: flex;
  margin-right: -30px;
}

.work-list .item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  position: relative;
}

.img-work {
  display: block;
}

.work-list .work-text {
  display: flex;
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  /* padding-top: 27px;
  padding-bottom: 27px; */
  position: absolute;
  width: 370px;
  height: 70px;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  /* width: 100%; */
}

/* team-list */

.team-list {
  display: flex;
  margin-right: -30px;
}

.team-list .item {
  flex-basis: calc((100% - 90px) / 4);
  margin-right: 30px;
  width: 270px;
  background: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.img-team {
  display: block;
  margin-bottom: 30px;
}

/* .team-text {
  padding: 30px 0;
  background-color: var(--primary-bg-color);
} */

.section-team {
  background-color: var(--bg-team-color);
}
.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team-list .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team-list .social-item {
  display: flex;
  width: 44px;
  height: 44px;
}

.team-list .social-item:not(:last-child) {
  margin-right: 10px;
}

.team-list .social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list .social-link:hover,
.team-list .social-link:focus {
  background-color: var(--accent-color);
}

.team-list .social-link:hover .social-icon,
.team-list .social-link:focus .social-icon {
  fill: var(--primary-bg-color);
  cursor: pointer;
}

.team-list .social-icons {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

/* .team-list .social-icons {
  padding-bottom: 30px;
} */

.team-list .social-icon {
  fill: var(--icons-color);
  height: 44px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .team {
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
} */

/* клієнти */

.clients-list .item {
  list-style: none;
  width: 170px;
  height: 92px;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: -30px;
  text-align: center;
}

.clients-list .item {
  flex-basis: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.clients-list .clients-link {
  /* width: 170px;
  height: 92px; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list .clients-icon {
  /* display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 32px; */
  fill: var(--icons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list .clients-link:hover .clients-icon,
.clients-list .clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  /* border-radius: 4px; */
}

/* portfolio-list */

.portfolio-filter .item:not(:last-child) {
  margin-right: 8px;
}

.img-portfolio {
  display: block;
}

.img-text {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfolio-filter {
  margin-bottom: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  /* margin-right: -30px;
  margin-bottom: -30px; */
  gap: 30px;
}

.portfolio-list .link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list .project {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-list .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-list .link {
  text-decoration: none;
  flex-basis: calc((100% - 60px) / 3);
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-list .item:hover .overlay-text {
  transform: translateY(0);
}

.overlay-text {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* button */

.button {
  background-color: var(--button-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  color: var(--button-hover-focus-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button.everyone {
  padding: 6px 25px;
}
.button.primary {
  background-color: var(--accent-color);
  color: var(--primary-button-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 216px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  box-shadow: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.primary:hover,
.button.primary:focus {
  /* color: var(--primary-button-color); */
  background-color: var(--button-hero);
}

/* footer */

/* .footer {
  background-color: var(--bg-futer-color);
  padding-top: 60px;
  padding-bottom: 60px;
} */

.page-footer {
  background-color: var(--bg-futer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

/* footer .container {
  display: flex;
  align-items: baseline;
} */

.page-footer__container {
  display: flex;
  align-items: baseline;
}

.footer-social {
  margin-left: 70px;
}

.footer-list {
  display: flex;
}

.footer-list .item {
  width: 44px;
  height: 44px;
}

.footer-list .item:not(:last-child) {
  margin-right: 10px;
}

.footer-list .social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list .social-icon {
  fill: var(--logo-footer-color);
  height: 44px;
}

.footer-list .social-link:hover,
.footer-list .social-link:focus {
  background-color: var(--accent-color);
}

.mail {
  margin-bottom: 9px;
  display: block;
}

.address-footer .map {
  font-style: normal;
  color: var(--map-footer-color);
  line-height: 1.71;
  text-decoration: none;
  margin-bottom: 9px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-footer .link {
  font-style: normal;
  color: var(--link-footer-color);
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-footer .map:hover,
.address-footer .map:focus {
  color: var(--accent-color);
}
.address-footer .link:hover,
.address-footer .link:focus {
  color: var(--accent-color);
}

.footer-titel {
  color: var(--logo-footer-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-email-input-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: #ffffff;
}

.footer-email-input {
  margin-left: auto;
}

.footer-button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 0;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
  background-color: var(--button-hero);
}

.footer-form {
  display: flex;
}

.footer-input {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);

  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  outline: none;
  margin-right: 12px;
  padding: 15px 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus {
  border: 1px solid var(--accent-color);
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.button-icon {
  margin-left: 10px;
}

.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  transition: transform 1000ms linear;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.modal .close-sign {
  position: absolute;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.closed-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 500ms;
}

.modal-backdrop.is-hidden .modal {
  transform: rotate(-180deg);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.close-sign:hover .closed-icon,
.close-sign:focus .closed-icon {
  fill: var(--accent-color);
}

.modal-text {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
  /* padding-top: 40px; */
}

/* .modal-form {
  padding-left: 40px;
  padding-right: 40px;
} */

.modal-input {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: #000000;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-input:focus {
  border: 1px solid #2196f3;
}

.modal-button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  background: #2196f3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--button-hero);
}

.modal-label {
  display: block;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-textarea {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: #000000;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border: 1px solid var(--accent-color);
}

.modal-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-text,
.checkbox-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox-link {
  text-decoration-skip-ink: none;
  color: #2196f3;
}

.checkbox-line {
  margin-bottom: 30px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkbox-label::before {
  content: "";
  display: flex;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox-input:checked + .checkbox-label::before {
  background-color: #2196f3;
  border: none;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
